/* DROP DOWN BUTTON */
.drop_down_button {
	background-color: #63c810;
	width: 26px;
	height: 34px;
	border-radius: 3px;
	float: right;
	position: relative;
	cursor: pointer;
	bottom: 6px;
}
.drop_down_button::after { /*  Custom dropdown arrow */
	content: "\25BC";
	font-size: 0.625em;
	line-height: 34px;
	right: 9px;
	top: 0px;
	color: #fff;
	position: absolute;
}
.drop_down_button:hover {
	background-color: #54b009;
}
.drop_down_button_small {
	width: 19px;
	height: 22px;
	bottom: 0;
	float: none;
}
.drop_down_button_small::after {
	line-height: 22px;
	right: 6px;
}
/* end drop down */