.ingredients_wrapper {
	z-index: 101;
	position: relative;
}
.no_hover {
	cursor: initial !important;
}
.no_hover:hover {
	border-top: 5px solid #C9C9C9 !important;
	background: inherit !important;
}
#glossary_page .whitebox > tbody > tr > td {
    padding: 16px 4%;
}
#glossary_tabs {
	width: 100%;
	background-color: #F6F6F6;
	font-size: 1em;
	margin-top: 17px;
	z-index: 1000;
	position: relative;
	font-family: "Oxygen",sans-serif;
}
#glossary_tabs td {
	color: #606060 !important;
	line-height: 44px;
	font-weight: 300;
	white-space: nowrap;
	padding: 0 10px 3px;
	height: 38px;
	border-top: 5px solid #C9C9C9;
	-webkit-box-shadow: inset 0 -10px 15px -15px rgba(61, 61, 61, 0.2);
	-moz-box-shadow: inset 0 -10px 15px -15px rgba(61, 61, 61, 0.2);
	box-shadow: inset 0 -10px 15px -15px rgba(61, 61, 61, 0.2);
	transition: all 0.2s ease-out 0s;
	cursor: pointer;
}
#glossary_tabs td:hover {
	background-color: #d8d8d8;
	border-color: #b0b0b0;
	webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#glossary_tabs div {
	height: 100%;
	margin: -5px 0px;
	color: #606060 !important;
	line-height: 38px;
}
#glossary_tabs div:hover {
	color: #000 !important;
}
#glossary_tabs .glossary_tab_selected, #glossary_tabs .glossary_tab_selected:hover {
	color: #000;
	background-color: #FFF;
	border-color: #63c810;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#glossary_tabs .glossary_tab_adjacent {
	-webkit-box-shadow: inset 5px -10px 15px -15px rgba(61, 61, 61, 0.2);
	-moz-box-shadow: inset 5px -10px 15px -15px rgba(61, 61, 61, 0.2);
	box-shadow: inset 5px -10px 15px -15px rgba(61, 61, 61, 0.2);
}
.drop_options {
	position: absolute;
	left: -999em;
	top: 27px;
	text-align: left;
	font-size: 0.93em;
	line-height: 2em;
	z-index: 1000;
	padding-left: 0px;
	background-color: #D8D8D8;
	border-bottom: solid 5px #B0B0B0;
}
.glossary_tab {
	position: relative;
}
.glossary_tab:hover > ul {
	left: 0px;
}
.drop_options li {
	list-style: none outside none;
	padding-left: 1em;
	padding-right: 1em;
	transition: all 0.2s ease-out 0s;
}
.drop_options li:hover {
	color: #000;
	background-color: #B0B0B0;
}