/* SLIDER INPUTS */
.slider {
	width: 273px;
}
.output_cell {
	padding-left: 20px;
	font-size: 15px;
	font-weight: 400;
}
.small_slider .slider {
	width: 186px;
}
.small_slider .noUi-horizontal {
	height: 12px;
}
.small_slider .noUi-handle {
	height: 22px !important;
	width: 26px !important;
	left: -13px !important;
	top: -5px !important;
	box-shadow: 0px 0px 1px #FFF inset, 0px 1px 4px #EBEBEB inset, 1px 1px 4px 0px rgba(61, 61, 61, 0.2) !important;
}
.small_slider .noUi-handle:before, .small_slider .noUi-handle:after {
	height: 11px;
	top: 5px;
	left: 10px;
}
.small_slider .noUi-handle:after {
	left: 13px;
}
.small_slider .noUi-horizontal.noUi-extended {
    padding: 0px 13px;
    width: 100%;
}
.small_slider .noUi-horizontal.noUi-extended .noUi-origin {
    right: -13px;
}


.xsmall_slider .slider {
	width: 100%;
}
.xsmall_slider .noUi-horizontal {
	height: 10px;
}
.xsmall_slider .noUi-handle {
	height: 18px !important;
	width: 20px !important;
	left: -10px !important;
	top: -4px !important;
	box-shadow: 0px 0px 1px #FFF inset, 0px 1px 4px #EBEBEB inset, 1px 1px 4px 0px rgba(61, 61, 61, 0.2) !important;
}
.xsmall_slider .noUi-handle:before, .xsmall_slider .noUi-handle:after {
	height: 8px;
	top: 4px;
	left: 7px;
}
.xsmall_slider .noUi-handle:after {
	left: 10px;
}
.xsmall_slider .noUi-horizontal.noUi-extended {
    padding: 0px 10px;
}
.xsmall_slider .noUi-horizontal.noUi-extended .noUi-origin {
    right: -10px;
}
.xsmall_slider .noUi-origin, .xsmall_slider .noUi-target {
    border-radius: 3px;
}
.cost_table {
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	font-weight: 400;
	line-height: 1.1em;
}
/* end slider inputs */